@import 'lib/vars';
@import 'lib/mixins';
@import 'lib/reboot';
// @import 'lib/fontawesome/font-awesome';
@import 'lib/fontface';
@import 'lib/keyframes';



* {
    // border: 1px solid pink;
}

html,
body {
    font-size: $base * 1.9;
    font-family: $font_family_base;
    line-height: $base * 3;
    color: $body_color;
    min-height: 100vh;
}

.kotakiev {}

.head_top_line {
    height: 55px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.header {
    display: flex;
    justify-content: center;
    margin: 3.5rem 0;

    .header_logo {
        display: flex;

        svg {
            height: 70px;
        }
    }
}

.main_section {
    max-width: 980px;
    margin: 0 auto;

    .presentation {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .text {
            margin-right: 2rem;

            h3.headline {
                max-width: 40ch;
                font-size: 1.1rem;
                line-height: 1.5rem;
                margin-bottom: 1rem;
                color: #111;
            }

            .content {
                max-width: 60ch;

                p {
                    margin-bottom: 1rem;
                }
            }
        }

        .pic {
            // max-width: 380px;
            max-height: 320px;
            height: 50vh;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .social {
        margin-top: 2rem;
        border-top: 1px solid #aaa;
        padding-top: 2rem;

        .headline {
            font-size: 1.1rem;
            line-height: 1.5rem;
            margin-bottom: 1rem;
            font-weight: bold;
            color: #111;
        }

        .social_items {
            display: flex;
            align-items: center;

            .social_item {
                margin-right: 1rem;

                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: inherit;

                    .social_item_logo {
                        display: flex;
                        margin-bottom: .5rem;

                        svg {}
                    }

                    .social_item_label {}
                }
            }
        }
    }
}

.footer {
    max-width: 980px;
    margin: 2rem auto;
    border-top: 1px solid #aaa;
    padding-top: 2rem;
    color: #111;

    p {
        max-width: 60ch;
        font-weight: bold;
        margin: 0;
    }
}